{
  "presets": [
    "es2015",
    "react"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  },
  "plugins": ["transform-es2015-destructuring", "transform-object-rest-spread"]
}
