/* TODO: insert main styles of your demo here */

body {
    /*background: #008ed4;*/
    color: #333;
    font-family: Sans-Serif;
    line-height: 1.5;
}

form label {
    display: block;
}

header {
    background-color: #e6e6e6;
    position: fixed;
    padding: 0.5em;
    top: 0;
    text-align: center;
    color: #333;
    border: 0.1em solid #bbb;
}

header h1 {
    font-family: monospace;
    margin: 0;
}

header .description {
    color: #888;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.github-fork-ribbon {
    position: fixed;
    letter-spacing: 0.01em;
}

article {
    display: block !important;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    padding: 1em;
}

article section {
    margin-bottom: 2em;
}

article h2 {
    margin-top: 2em;
}

article .description {
    margin: 1em;
    padding: 1em;
    max-width: 60em;
    background: #fafafa;
    border: 0.1em solid #eee;
}

article .description h2 {
    margin: 0;
}

article .demonstration {
    font-size: larger;
    margin: 2em;
    text-align: center;
}

article .demonstration .coordinate {
    font-size: x-large;
}

.github-fork-ribbon {
    background-color: #333;
}

table {
    margin: 0 auto;
}

td, th {
    padding: 0.2em;
    text-align: center;
}

td:not(:last-child), th:not(:last-child) {
    border-right: 1px #333 solid;
}

th {
    border-bottom: 1px #333 solid;
}
